<div class="ui container" *ngIf="post">
  <div class="ui divided grid">
    <div class="ui row">

      <!-- main image -->
      <div class="ui twelve wide column">
        <div class="ui image rounded fluid">
          <img src="{{ post.image_urls[0] }}">
        </div>
      </div>

      <!-- sidebar -->
      <div class="ui four wide column">
        <h3><i class="icon tag"></i>Tags</h3>

        <div class="ui list">
          <div *ngFor="let tag of post.tags" class="item">
            <a href="#desc"><i class="icon help"></i></a>
            <a href="#{{ tag }}">{{ tag }}</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
